* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding-top: 40px;
}

.leftSide {
    width: 20%;
    background-color: rgba(3, 164, 126, 1);
    overflow: hidden;
    min-width: 220px;
    align-items: center;
}

.logoApp {
    padding-top: 404px;
}

.firstText {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
}

.buttonsBody {
    width: 100%;
}

.rightSide {
    width: 80%;
    max-width: 814px;
    max-height: 970px;
    margin: 73px;
    display: flex;
}

.dd {
    background-color: aqua;
    color: red
}

.inputsP {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.sign-inInputs {
    margin-bottom: 40px;
    width: 100%;
    height: 72px;
    border-radius: 8px;
    align-items: center;
    padding-left: 15px;
    border: #282c34 1px solid;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

.username {
    width: 100%;
}

.password {
    width: 100%;
}

.loginButton {
    width: 100%;
    height: 72px;
    border-radius: 8px;
    background-color: rgba(3, 164, 126, 1);
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}

.underLoginText {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.signUp {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 32px;
    font-style: normal;
    padding-top: 8px;
}

.forgotPassword {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 32px;
    font-style: normal;
    padding-top: 8px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

hr {
    width: 100%;
}

.horizontalLine {
    position: relative;
    display: flex;
    padding-bottom: 24px;
    padding-top: 44px;
}

.OR {
    flex-direction: row;
    position: absolute;
    left: 44%;
    z-index: 1;
    background-color: white;
    padding-right: 28px;
    padding-left: 28px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-top: -7px;
}

.loginGoogle {
    width: 100%;
    height: 72px;
    border-radius: 8px;
    border: #282c34 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;

}

.loginFacebook {
    width: 100%;
    height: 72px;
    border-radius: 8px;
    border: none;
    background-color: rgba(0, 28, 82, 1);
    color: white;
    margin-top: 32px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 121px
}

.fbLogo {
    font-size: 48px;
    color: white;
    padding-top: 10px;
    margin-right: 31px;
    padding-left: 34px;
}

.googleLogo {
    font-size: 48px;
    margin-right: 31px;
    padding-left: 15px;
}

.passwordParent {
    position: relative;
    display: flex;
    justify-content: flex-end;

}

.eyeIcon {
    position: absolute;
    z-index: 1;
    justify-content: center;
    padding-top: 21px;
    padding-right: 15px;
    font-size: 29px;
}
