/* fp - stands for forgot password */
.fp__whole__page {
    display: flex;
}

/* fp - stands for forgot password */
.fp__left__side {
    width: 44vw;
    height: 100vh;
    background-color: #03A47E;
}

/* fp - stands for forgot password */
.fp__logo__area {
    padding: 22vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fp - stands for forgot password */
.fp__logo {
    height: 56vh;
}

/* fp - stands for forgot password */
.fp__right__side {
    width: 56vw;
    height: 100vh;
}

/* fp - stands for forgot password */
.fp__content__area {
    margin: 10vh 0 48vh;
}

/* fp - stands for forgot password */
.fp__reset__password__area {
    padding-bottom: 8vh;
}

/* fp - stands for forgot password */
.fp__reset__password__text {
    width: 32vw;
    line-height: 5.7vh;
    margin: auto;
    font-size: 4vh;
    text-align: center;
    color: #252533;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
}

/* fp - stands for forgot password */
.fp__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fp - stands for forgot password */
.fp__input__field {
    box-sizing: border-box;
    width: 42vw;
    height: 7.5vh;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 1.65vh 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2vh;

}

/* fp - stands for forgot password */
#fp__password__field {
    padding-bottom: 1.65vh;
}

#fp__confirm__password__field {
    padding-bottom: 3.7vh;
}

.fp__continue {
    box-sizing: border-box;
    width: 42vw;
    height: 7.5vh;
    border: none;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 3vh;
    font-weight: 500;
    background-color: #03A47E;
    color: #ffffff;
}