@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

:root{
/*// Colors vars*/
  --primary-green-shade-one: #e6fff9;
  --primary-green-shade-two: #b0ffec;
  --primary-green-shade-three: #8affe3;
  --primary-green-shade-four: #54ffd7;
  --primary-green-shade-five: #33ffcf;
  --primary-green-shade-six: #00ffc3;
  --primary-green-shade-seven: #00e8b1;
  --primary-green-shade-eight: #00b58a;
  --primary-green-shade-nine: #008c6b;
  --primary-green-shade-ten: #006b52;
  --secondary-ink-shade-one: #f2f2f2;
  --secondary-ink-shade-two: #d7d8d8;
  --secondary-ink-shade-three: #c4c5c5;
  --secondary-ink-shade-four: #a9aaaa;
  --secondary-ink-shade-five: #999999;
  --secondary-ink-shade-six: #7f8080;
  --secondary-ink-shade-seven: #747474;
  --secondary-ink-shade-eight: #5a5b5b;
  --secondary-ink-shade-nine: #353636;

/* Fonts vars*/
  --primary-font-family: 'Poppins', serif;
}
body {
  margin: 0;
  font-family: var(--primary-font-family);
}

code {
  font-family: inherit;
}


/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
